.immortal-avatar {
    .ant-upload {
        border-radius: 50%;
        width: 144px;
        height: 144px;
        img {
            border-radius: 50%;
            width: 144px;
            height: 144px;
        }
    }
    .avatar-button {
    }
}
