@import '../../assets/styles/mixin';

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    &::after {
        content: '';
        background: url('../../assets/img/background.jpg') no-repeat;
        background-size: 100% 100%;
        opacity: 0.6;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    .login-form {
        width: 320px;
        .grey-icon {
            color: $disabled-color;
        }
        .login-form-button {
            width: 100%;
            margin: 16px 0;
        }
        .login-remember-forgot,
        .sign-about {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .third-party {
            display: inline-flex;
            align-items: center;
            .third-party-icon {
                margin-left: $font-size-base;
                font-size: $font-size-huge;
            }
        }
    }
}
