.category-filter-form {
    margin-bottom: 24px;
    .ant-form-item {
        margin-bottom: 8px;
    }
    .operations {
        text-align: right;
        button {
            margin-left: 8px;
        }
    }
}
