.tag-filter-form {
    margin-bottom: 24px;
    .ant-form-item {
        margin-bottom: 8px;
    }
    .operations {
        text-align: right;
        button {
            margin: 4px 8px 0 0;
        }
    }
}
