.tag-filter-form {
    .ant-form-item {
        margin-bottom: 8px;
    }
    .operations {
        text-align: right;
        margin-bottom: 24px;
        button {
            margin-right: 8px;
        }
    }
}
