@import '../../assets/styles/mixin';

.immortal-layout {
    min-height: 100vh;
    .sider {
        min-height: 100vh;
        overflow: auto;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        .ant-layout-sider-children {
            overflow-y: auto;
        }
        .menu-logo {
            width: 100%;
            padding: 2 * $unit-base;
            &.hide-text {
                .logo-text {
                    display: none;
                }
            }
            .logo-text {
                color: $white-color;
                font-size: $font-size-bigger;
            }
        }
    }

    .margin-menu {
        margin-left: 200px;
    }
    .margin-collapsed-menu {
        margin-left: 80px;
    }
    .main {
        .header {
            background: $app-background;
            padding: 0 2 * $unit-base;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header-right {
                text-align: right;
            }
            .avatar {
                background: $black-color;
            }
        }
        .content {
            margin: 3 * $unit-base 2 * $unit-base 0;
            .content-container {
                min-height: 100%;
                padding: 3 * $unit-base;
                background: $app-background;
            }
        }
        .footer {
            text-align: center;
        }
    }
}
