.category-table-form {
    .operation-row {
        margin-bottom: 0;
        .operations {
            text-align: right;
            .operation {
                margin-left: 8px;
            }
        }
    }
}
