$content-background-color: #f7f7f7;

$primary-color: #003894;
$warn-color: #ff8d00;
$danger-color: #f23030;
$info-color: #4e9eff;
$darker-color: #333;
$dark-color: #666;
$normal-color: #999;
$black-color: #000;
$white-color: #fff;

$font-default-color: #5f5f5f;
$font-meta-color: #767676;

$font-default-size: 14px;
$font-meta-size: 13px;

$underline-color: #b8c5d633;